<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/search_result.css}">
</head>
<body>
    
    <h1>All Users</h1>
    
    <!-- Search Form -->
    <form th:action="@{/admin/list_users}" method="get">
        <div class="search-container">
            <input type="text" id="search" name="keyword" placeholder="Search..." th:value="${keyword}">
            <button type="submit">Search</button>
        </div>
    </form>
    
    <!-- Display Search Result -->
    <div class="table-container">
    <table id="searchResultTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${userPage.content}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.gender}"></td>
                <td th:text="${user.role}"></td>
                <td>
                    <!-- Only show ban/unban buttons for non-admin users -->
                    <div th:if="${user.role != 'Admin'}">
                        <button class="ban-unban-btn" 
                                th:data-id="${user.id}" 
                                th:data-action="${user.banAction == 'Ban' ? 'ban' : 'unban'}" 
                                th:text="${user.banAction}">
                        </button>
                    </div>
                    
                    <!-- Button to view -->
                    <form th:action="@{'/admin/users/view/' + ${user.id}}" method="GET">
                        <button type="submit">View</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <!-- Pagination Controls -->
    <div class="pagination">
        <ul>
            <!-- Previous Page Link -->
            <li th:if="${currentPage > 1}">
                <a th:href="@{/admin/list_users(page=${currentPage - 1}, keyword=${keyword})}">&laquo; Previous</a>
            </li>
            <!-- Page Number Links -->
            <li th:each="i : ${#numbers.sequence(1, totalPages)}" th:if="${i != 0}">
                <a th:href="@{/admin/list_users(page=${i}, keyword=${keyword})}" th:text="${i}"></a>
            </li>
            <!-- Next Page Link -->
            <li th:if="${currentPage < totalPages}">
                <a th:href="@{/admin/list_users(page=${currentPage + 1}, keyword=${keyword})}">Next &raquo;</a>
            </li>
        </ul>
    </div>
    <script th:src="@{/js/search_result.js}"></script>
</body>
</html>
