<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}">
</head>
<body>
    <aside>
        <nav>
            <ul>
                <li><a th:href="@{/admin/home}">Home</a></li>
                <li><a th:href="@{/admin/list_users}">Users</a></li>
                <li><a th:href="@{/admin/categories}">Categories</a></li>
                <li><a th:href="@{/admin/reports}">Reports</a></li>
                <!-- Add more links if needed -->
            </ul>
        </nav>
    </aside>
</body>
</html>
