body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

#searchResultTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#searchResultTable th, #searchResultTable td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#searchResultTable th {
    background-color: #f2f2f2;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.pagination ul li {
    display: inline;
    margin: 0 5px;
}

.pagination ul li a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: 1px solid #ddd;
    transition: background-color 0.3s;
}

.pagination ul li a:hover {
    background-color: #ddd;
}

.search-container {
    float: right;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
}

.search-container input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    background: #ddd;
    font-size: 17px;
    border: 1px solid #ddd;
    border-left: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
}

.search-container button:hover {
    background-color: #ccc;
}
