<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}">
</head>
<body>
    <h1>User Profile</h1>
    <div>
        <p><strong>ID:</strong> <span th:text="${profile.id}"></span></p>
        <p><strong>Username:</strong> <span th:text="${profile.name}"></span></p>
        <p><strong>Email:</strong> <span th:text="${profile.email}"></span></p>
        <p><strong>Gender:</strong> <span th:text="${profile.gender}"></span></p>
        <p><strong>Role:</strong> <span th:text="${profile.role}"></span></p>
        <p><strong>Created At:</strong> <span th:text="${profile.createdAt}"></span></p>
        <p><strong>Full Name:</strong> <span th:text="${profile.fullName}"></span></p>
        <p><strong>Bio:</strong> <span th:text="${profile.bio}"></span></p>
        <p><strong>Phone Number:</strong> <span th:text="${profile.phoneNumber}"></span></p>
        <p><strong>Address:</strong> <span th:text="${profile.address}"></span></p>
        <p><strong>Birthday:</strong> <span th:text="${profile.birthday}"></span></p>
        <p><strong>Avatar:</strong> <img th:src="@{'data:image/jpeg;base64,' + ${#strings.bytes(profile.avatar)}}"></p>
    </div>
</body>
</html>
