<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Category</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/add_edit.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
</head>
<body>
    <div th:include="admin/admin-template/header :: adminHeader"></div>
    
    <h1>New Category</h1>
    <form th:action="@{/admin/categories}" th:object="${category}" method="post">
        <label for="categoryName">Name:</label>
        <input type="text" id="categoryName" th:field="*{categoryName}">
        <label for="description">Description:</label>
        <input type="text" id="description" th:field="*{description}">
        <button type="submit">Save</button>
    </form>
    <div th:if="${duplicateMessage != null}">
        <p th:text="${duplicateMessage}" style="color: red;"></p>
    </div>
</body>
</html>
